/* Nosso CSS*/

/* ############################# Nickolas Junior Nascimento Gonçalves ############################# */

/* CSS do conteúdo da pagina (body) 
------------Body começa aqui -----------*/
body{
    margin: 0;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* -------------- Body termina aqui -------------------- */

/* CSS do cabeçalho da pagina (header) 
------------------ header começa aqui ----------------------- */
header{
    height: 140px;
    margin-top: 20px;
}

/* CSS do Container do Header
----------------------Containercomeça aqui ----------------------- */
header .container{
    width: 70%;
    margin-left: 15%;
    display: flex;
    font-weight: 800;
    align-items: center;
}
/* ------------------------ Container Termina aqui --------------------------------- */

/* CSS da foto-logotipo 
-------------------------- foto-logo começa aqui -----------------*/
.foto-logo{
    width: 187px;
    height: 187px;
 
}
.foto-logo img{
    width: 200px;
    height: 200px;
}
/* --------------------------foto-logo Termina aqui ------------------- */

/* CSS nav-bar  
--------------------------- nav-bar começa aqui --------------------*/
header .nav-bar{
    list-style-type: none;
    display: flex;
    width: 600px;
    justify-content: space-between;

}

.nav-bar a {
    color: black;
    text-decoration: none;
}
/* ---------------------- nav-bar termina aqui ------------------------ */

/* CSS botão cadastrar(cadastrar-buttom)
------------------------cadastrar-buttom começa aqui --------------------*/
.cadastrar-buttom{
    margin-left: 60px;
    width: 169px;
    height: 46px;
    background-color: #5CE1E6;
    border-radius: 40px;
    box-shadow: 4px 4px 4px 2px #615757b6 ;
    display: grid; /* O grid faz o texto poder ficar centralizado tanto na horizontal quanto na vertical */
    text-align: center;
    align-items: center;
}
.cadastrar-buttom a{
    color: black;
    text-decoration: none;
}
/* --------------------- cadastrar-buttom termina aqui --------------------- */

/* ------------------- Header Termina aqui ----------------------------- */

/* CSS do inicio do codigo*/
.inicio{
    /* padding: 85px 85px; */
    margin-top: 85px ;
    text-align: center;
    color: #3B3B3B;
}
.inicio .icons-1 {
    display: flex;
    /* background-color: red ; */
    color: #5CE1E6;
    height: 48px;
    width: 8%;
    margin: auto;
    justify-content: space-between;
}

.inicio .title{
    font-size: 36px;
    font-weight: 600;
}
.inicio .sub-title{
    margin-top: 50px;
    font-size: 18px;
}

.inicio .seta{
    margin-top: 68px;
    color: #5CE1E6;
}

